# Configuration file

##########################################################################################################
# 01_food_settings
#--------------------------------------------------------------------------------------------------------#
# Food Value Options
# The value specified is the number of ticks that the item will feed the NPC for.
# Add a new line for each item. The item type is not checked, and the default multiplier is not applied.
# 0 or under will make the item unusable as a food.
# Affect only server-side operations.  Will need to be set for dedicated servers, and single
# player (or LAN worlds).  Clients playing on remote servers can ignore these settings.
##########################################################################################################

01_food_settings {
    # Example of a food usual tick duration. Default food multiplier included.
    I:"minecraft:apple"=3000
    I:"minecraft:baked_potato"=4500
    I:"minecraft:beef"=2250
    I:"minecraft:bread"=3750
    I:"minecraft:carrot"=3000
    I:"minecraft:chicken"=1500
    I:"minecraft:cooked_beef"=6000
    I:"minecraft:cooked_chicken"=4500
    I:"minecraft:cooked_fished"=4500
    I:"minecraft:cooked_porkchop"=6000
    I:"minecraft:cookie"=1500

    # Example of a food usual tick duration. Default food multiplier included.
    I:"minecraft:mushroom_stew"=4500

    # Poisonous potato is a rejected food by default.
    I:"minecraft:poisonous_potato"=0
    I:"minecraft:porkchop"=2250
    I:"minecraft:potato"=1750
    I:"minecraft:pumpkin_pie"=6000

    # Rotten flesh is a rejected food by default.
    I:"minecraft:rotten_flesh"=0

    # Spider eye is a rejected food by default.
    I:"minecraft:spider_eye"=0
}


default {
    # Food items which don't have a custom duration time set will have their nourishing amount multiplied by this number, to get the number of ticks feeding the npc. [range: 0 ~ 214748364, default: 750]
    I:"Food Multiplier"=750
}


